@font-face 
{
    font-family: "raleway";
    src:
        url('Raleway-VariableFont_wght.ttf') format('truetype'),
        url('Raleway-VariableFont_wght.ttf') format('eot'),
        url('Raleway-VariableFont_wght.ttf') format('woff'),
        url('Raleway-VariableFont_wght.ttf') format('svg');

}

*
{
    font-family: raleway, Arial,Verdana, Geneva, Tahoma, sans-serif 
}

body
{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

img
{
    width: 25%;
    
}

header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 0px;
}

header img
{
    width: 100px;
}

header ul
{
    list-style-type: none;
    width:500px;
    display: flex;
    justify-content: space-around;  
}
a:link 
{

    text-decoration: none;        
}
.item1
{
    color: #0065FC;
    border-top: solid 2px;
    padding: 30px 20px 0px 20px;
     
}
.item2
{
    color: black;
}
    
.item3
{
    font-weight: bold;
    color: #0065FC;
}
form
{
   
    display:inline-flex;
    font-weight: bold;
}
form i
{
    padding: 17px;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;     
   
}

.barre
{
    border-color: #F2F2F2;
    border-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: medium;
    border-right-width: right;
}

.button 
{
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: #FFFFFF;
    border-color: #0065fc;
    border-style: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: medium;    
}
#filtres
{
    display: flex;
    justify-content: space-around;
    width: 75%;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 30px;
    margin-left: -30px;
}

#filtres i
{
    background-color:#DEEBFF ;
    color: #0065FC;
    border-radius: 50px 50px 50px 50px;
    padding: 17px;
    position:relative;
    left:20px;
    width:19px;
    text-align: center;
}
#filtres div
{
    display: flex;
    
}
.filter p
{
border: 2px #F2F2F2 solid;
border-radius: 0px 30px 30px 0px;
border-left: hidden;
text-align: center;
margin: 0px;
padding: 9px;
padding-top: 15px;
padding-left: 27px;
padding-right: 20px;
}

#info
{
    display: flex;
  
}

#info i
{
    color:#0066FC;
    border: solid thin;
    border-radius: 50px 50px 50px 50px;
    padding: 4px;
    width: 20px;
    border-color: #F2F2F2;
    height: 20px;
    text-align: center;
}

#info p
{
    margin-top: 5px;
    padding-left: 15px;
}

#section2
{
    display: flex;
    justify-content: space-between; 
}
#hebergement
{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}

#card-container
{
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
    
#populaires
{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}
.card
{
    border-radius: 20px 20px 20px 20px;
    width: 25%;
    padding: 7px;   
    margin: 0px;
    background-color: #FFFFFF;
    border: solid;
    margin-bottom: 70px;
}
#hebergement img{
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px;
    object-fit: cover;

}
#herbergement figcaption
{
    padding: 3px;
    margin-top: -35px; 
}
.fa-star{
    color: #0065FC;
}
.gris
{
    color:#F2F2F2;
}  

    
    
    


   

