@font-face {
    font-family: "raleway";
    src:
        url('Raleway-VariableFont_wght.ttf') format('truetype'),
        url('Raleway-VariableFont_wght.ttf') format('eot'),
        url('Raleway-VariableFont_wght.ttf') format('woff'),
        url('Raleway-VariableFont_wght.ttf') format('svg');

}

*
{
    font-family: raleway, Arial,Verdana, Geneva, Tahoma, sans-serif 
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 0px;
    }
header img{
    width: 100px;
}

header ul{
    list-style-type: none;
    width:500px;
    display: flex;
    justify-content: space-around;  
}
a:link {

    text-decoration: none;        
}
.item1{
    color: #0065FC;
    border-top: solid 2px;
    padding: 30px 20px 0px 20px;
     
}
.item2{
    color: black;
}
    
.item3{
    font-weight: bold;
    color: #0065FC;
}
form{
   
    display:inline-flex;
    font-weight: bold;
}
form i{
       
    color: brown;
    background-color:blue ;    
    
}

.button {
    background-color: #0065FC;
    border-radius: 0px 6px 6px 0px;
    color: #FFFFFF;    
}
#filtres{
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 100%;
}
#filtres i{
    background-color:#DEEBFF ;
    color: #0065FC;
    border-radius: 50px;
    
}







    
    
    
    


   

