@font-face 
{
    font-family: "raleway";
    src:
        url('Raleway-VariableFont_wght.ttf') format('truetype'),
        url('Raleway-VariableFont_wght.ttf') format('eot'),
        url('Raleway-VariableFont_wght.ttf') format('woff'),
        url('Raleway-VariableFont_wght.ttf') format('svg');

}

*
{
    font-family: raleway, Arial,Verdana, Geneva, Tahoma, sans-serif 
}

body
{
    width: 2560px;
    padding: 0px;
    margin: 0px;
}
#bloc_page
{
    margin: 20px;
}

img
{
    width: 25%;
    object-fit: cover;
}

header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 0px;
    
}

header img
{
    width: 100px;
    padding-left: 10px;
}
nav
{
    width: 30%;
}
header ul
{   
    list-style-type: none;
    display: flex;
    justify-content: space-around;  
}
a:link 
{
    text-decoration: none;        
}

#filtres a:visited
{
    text-decoration: none;
    color: black;
}

.item1
{
    color: #0065FC;
    border-top: solid 2px;
    padding: 30px 20px 0px 20px;
     
}
.item2
{
    color: black;
    padding: 30px 20px 0px 20px;
}
    
.item3
{
    font-weight: bold;
    color: #0065FC;
    padding: 30px 20px 0px 20px;
}

#section1{
    padding-left: 10px;
}

form
{
   
    display: flex;
    font-weight: bold;
    border-radius: 18px 18px 18px 18px;
    border: solid 2px;
    border-color: #F2F2F2;
    width: 33%;
    height: 45px;
    
}
.fa-map-marker-alt
{
    padding: 17px;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;   
    text-align: center;  
    width: 10%;
}

.barre
{
    border-color: #F2F2F2;
    border-style: none;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: medium;
    width: 55%;
   
}

.bouton1
{
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: #FFFFFF;
    border-color: #0065fc;
    border-style: none;
    font-size: medium; 
    flex-wrap: inherit;
    display: none;
    display: block;
    width: 35%;   
}
.bouton2 
{
    background-color: #0065FC;
    border-radius: 16px 16px 16px 16px;
    color: #FFFFFF;
    border-color: #0065FC;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium; 
    display: block;
    display: none;    
}
#filtres
{
    display: flex;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 30px;
    width: 70%;
    justify-content: space-around;
    color: black;
    
    
}

#filtres i
{
    background-color:#DEEBFF ;
    color: #0065FC;
    border-radius: 50px 50px 50px 50px;
    padding: 17px;    
    width:17px;
    text-align: center;
}
#filtres div
{
    display: flex;
    border: 2px #F2F2F2 solid;
    border-radius: 30px 30px 30px 30px;
    padding-right: 17px;
  
    
}
#filtres p
{
    padding-left: 10px;
    
}
.filter p:hover
{
    color: crimson;
}


#info
{
    display: flex;
   
}

#info i
{
    color:#0066FC;
    border: solid thin;
    border-radius: 50px 50px 50px 50px;
    padding: 4px;
    width: 20px;
    border-color: #F2F2F2;
    height: 20px;
    text-align: center;
}

#info p
{
    margin-top: 5px;
    padding-left: 15px;
}
            /*SECTION 2*/

#section2
{
    display: flex;
    padding-bottom: 50px;
  
}
h2{
    padding-left: 10px;

}
#hebergement
{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 120%;
    padding: 30px 20px 30px 30px;
    margin: 10px;
    width: 70%;
    height: 100%;
}

#card-container
{
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
figcaption
{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 15px;  
    height: 65px; 
}
figcaption h3
{
    padding: 0px;
    margin: 0;
    padding-bottom: 5px;   
}
figcaption p
{
    padding: 0px;
    margin: 0;
    padding-bottom: 5px;   
}

    
#populaires
{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin: 10px;
    padding: 30px 30px 30px 30px;
    width: 30%;
}

.card
{
    border-radius: 20px 20px 20px 20px;
    width: 30%;  
    margin: 0px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px #E3E3E3;
    padding:5px
}
#hebergement img{
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px;
    object-fit: cover;

}
.plus{
    font-weight: bold;
}


.fa-star{
    color: #0065FC;
}
.gris
{
    color:#F2F2F2;
}  
#populaires img{
    width: 40%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    height:150px
}

#populaires h2{
    display:flex;
    justify-content: space-between;
}
.card2
{
    display: flex;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 16px #E3E3E3;
    margin: 30px 13px 30px ;
    padding: 5px;
    width: 90%;
}

#card-container3
{
    display: flex;
    padding-bottom: 85px;
    width:100%;
    justify-content: space-between;
}

#card-container3 figcaption
{
    margin: 0px;
    padding: 15px;
    height: 20px; 
}


#section3 .card3
{

    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 16px #E3E3E3;
    width: 21%;
}

.column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.card3 img
{
    border-radius: 20px 20px 0px 0px;
    width:100%;
    height: 375px;

}

.column img
{
    border-radius: 20px 20px 0px 0px;
    width:100%;
    height: 145px;

   
} 
.column figure
{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 16px #E3E3E3;
     
} 


footer{
    background-color: #F2F2F2;
}
footer ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 75%;
}



/*RESPONSIVE TABLETTE */



@media all and (min-device-width:481px) and (max-device-width:1024px)
{
#bloc_page
{
    margin: 0;
    width: 1024px;

}
                /*HEADER */
header
{
    display: block;
    margin:0;    
}
  
header ul 
{
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    width: 100%;
    padding: 0;
}

.item1
{
    color: #0065FC;
    border-top: none;
    padding: 15px 60px 15px 60px;
    border-bottom: solid 2px #0065FC;
}
.item2
{   
    
    color: black;
    padding: 9px 70px 15px 70px;
    border-bottom: solid 2px #E3E3E3;
}
    
.item3
{
    font-weight: bold;
    color: #0065FC;
    padding: 30px 20px 0px 20px;
}

            /*SECTION 1 */

#section1 h1
{
    width: 75%;
    text-align: center;
}
form
{
   
    display: flex;
    font-weight: bold;
    border-radius: 18px 18px 18px 18px;
    border: solid 2px;
    border-color: #F2F2F2;
    width: 90%;
    height: 50px;
}
.fa-map-marker-alt
{
    padding: 17px;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;
    text-align: center;
    width: 5%;
}
.bouton1
{
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: #FFFFFF;
    border-color: #0065fc;
    border-style: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: medium; 
    display: none;
      
}
.bouton2 
{
    background-color: #0065FC;
    border-radius: 16px 16px 16px 16px;
    color: #FFFFFF;
    border-color: #0065FC;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium; 
    display: block;
    width: 12%;
        
}
.barre
{
    border-color: #F2F2F2;
    border-style: none;
    font-weight: bold;
    font-size: medium;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
}

#filtres p:first-child
{
    width: 100%;
}

#filtres 
{
    display: flex;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 30px;
    width: 85%;
    flex-wrap: wrap;
    justify-content: left;

}
.filter
{
    display: flex;
    border: 2px #F2F2F2 solid;
    border-radius: 30px 30px 30px 30px;
    padding-right: 17px;
    margin: 5px;
}
#info i 
{
    color: #0066FC;
    border: solid thin;
    border-radius: 60px 60px 60px 60px;
    padding: 6px 6px 6px 6px;
    width: 20px;
    border-color: #F2F2F2;
    height: 16px;
    text-align: center;
}
            /*SECTION 2 */
#hebergement {
    background-color:transparent;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
    padding: 0;
    margin: 20px;
    
}
.card 
{
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px #e3e3e3;
    width: 100%;
}

#section2
{
    display: flex;
    flex-flow: column-reverse;
    padding: 0;
  
}
#card-container
{
    border-radius: 20px 20px 20px 20px;
    flex-direction: column;
    display: flex;
}


#info
{
    display: flex;
    width: 75%;
  
}

#populaires 
{
    background-color: #F2F2F2;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.card2 
{
        display: flex;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 16px #e3e3e3;
        margin: 10px 10px 30px;
        padding: 5px;
        
}

            /*SECTION 3 */
#section3 .card3 
{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 16px #e3e3e3;
    width: 100%;
    height: 200px;
    margin: 0px 0px 20px 0px;
    
}  


#card-container3 
{
    
    flex-direction: column;
    display: flex;
    width: 92%;
    padding:0;
    margin: 20px;
}
#card-container3 img 
{
    
    height: 140px;
}
.column
{
    width:100%;
    margin: 0;

}
.column figure 
{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 16px #e3e3e3;
    margin: 0px 0px 20px 0px;
    height: 200px;
    width: 100%;
}
.column img
{
    height: 125px;
}
footer{
width: auto;
}

footer ul 
{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 20px 0px 20px 20px;
}
}
            /*RESPONSIVE SMARTPHONE */
@media all and (max-device-width:480px)
{
#bloc_page
{
    margin: 0;
    width: 480px;

}
                /*HEADER */
header
{
    display: block;
    margin:0;    
}
  
header ul 
{
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    width: 100%;
    padding: 0;
}

.item1
{
    color: #0065FC;
    border-top: none;
    padding: 15px 60px 15px 60px;
    border-bottom: solid 2px #0065FC;
}
.item2
{   
    
    color: black;
    padding: 9px 70px 15px 70px;
    border-bottom: solid 2px #E3E3E3;
}
    
.item3
{
    font-weight: bold;
    color: #0065FC;
    padding: 30px 20px 0px 20px;
}

            /*SECTION 1 */

#section1 h1
{
    width: 75%;
    text-align: center;
}
form
{
   
    display: flex;
    font-weight: bold;
    border-radius: 18px 18px 18px 18px;
    border: solid 2px;
    border-color: #F2F2F2;
    width: 90%;
    height: 50px;
}
.fa-map-marker-alt
{
    padding: 17px;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;
    text-align: center;
    width: 5%;
}
.bouton1
{
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: #FFFFFF;
    border-color: #0065fc;
    border-style: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: medium; 
    display: none;
      
}
.bouton2 
{
    background-color: #0065FC;
    border-radius: 16px 16px 16px 16px;
    color: #FFFFFF;
    border-color: #0065FC;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium; 
    display: block;
    width: 12%;
        
}
.barre
{
    border-color: #F2F2F2;
    border-style: none;
    font-weight: bold;
    font-size: medium;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
}

#filtres p:first-child
{
    width: 100%;
}

#filtres 
{
    display: flex;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 30px;
    width: 85%;
    flex-wrap: wrap;
    justify-content: left;

}
.filter
{
    display: flex;
    border: 2px #F2F2F2 solid;
    border-radius: 30px 30px 30px 30px;
    padding-right: 17px;
    margin: 5px;
}
#info i 
{
    color: #0066FC;
    border: solid thin;
    border-radius: 60px 60px 60px 60px;
    padding: 6px 6px 6px 6px;
    width: 20px;
    border-color: #F2F2F2;
    height: 16px;
    text-align: center;
}
            /*SECTION 2 */
#hebergement {
    background-color:transparent;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
    padding: 0;
    margin: 20px;
    
}
.card 
{
    border-radius: 20px 20px 20px 20px;
    margin: 0px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px #e3e3e3;
    width: 100%;
}

#section2
{
    display: flex;
    flex-flow: column-reverse;
    padding: 0;
  
}
#card-container
{
    border-radius: 20px 20px 20px 20px;
    flex-direction: column;
    display: flex;
}


#info
{
    display: flex;
    width: 75%;
  
}

#populaires 
{
    background-color: #F2F2F2;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.card2 
{
        display: flex;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 16px #e3e3e3;
        margin: 10px 10px 30px;
        padding: 5px;
        
}

            /*SECTION 3 */
#section3 .card3 
{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 16px #e3e3e3;
    width: 100%;
    height: 200px;
    margin: 0px 0px 20px 0px;
    
}  


#card-container3 
{
    
    flex-direction: column;
    display: flex;
    width: 92%;
    padding:0;
    margin: 20px;
}
#card-container3 img 
{
    
    height: 140px;
}
.column
{
    width:100%;
    margin: 0;

}
.column figure 
{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 16px #e3e3e3;
    margin: 0px 0px 20px 0px;
    height: 200px;
    width: 100%;
}
.column img
{
    height: 125px;
}
footer
{
width: auto;
}

footer ul 
{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 20px 0px 20px 20px;
}
}